.parent{
    margin: 0;
    padding: 0;
    border:  2px solid black;
    width: 800px;
}
nav ol{
    list-style: none;
    display: flex;
}
li{
    margin: 10px;
    border: 2px solid rgb(19, 133, 186);
    border-radius: 13px;
    padding: 10px;
}   
.buttom{
    border-radius: 21px;
    text-align: center;
}